In [1]:
%cd C:/Users/shrav/Data_Analysis_Projects/Big Projects/Project StarMart/Datasets

C:\Users\shrav\Data_Analysis_Projects\Big Projects\Project StarMart\Datasets

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Customers 
df = pd.read_csv("StarMart_Stocks.csv")
df.head()

,product_id,store_id,normal_day_stock_lookup,holiday_stock_lookup,stock,last_restock_date
0,STRMRT_PRD_01_0001,STRMRT_STR_01,23.0,35.0,35.0,2024-01-01
1,STRMRT_PRD_01_0002,STRMRT_STR_01,23.0,35.0,35.0,2024-01-01
2,STRMRT_PRD_01_0003,STRMRT_STR_01,23.0,35.0,35.0,2024-01-01
3,STRMRT_PRD_01_0004,STRMRT_STR_01,23.0,35.0,35.0,2024-01-01
4,STRMRT_PRD_01_0005,STRMRT_STR_01,23.0,35.0,35.0,2024-01-01

In [4]:
df.describe().round(2)

       normal_day_stock_lookup  holiday_stock_lookup     stock
count                 87493.00              87493.00  87493.00
mean                     18.52                 32.19     32.19
std                       4.25                  9.32      9.32
min                      15.00                 26.00     26.00
25%                      15.00                 26.00     26.00
50%                      17.00                 29.00     29.00
75%                      23.00                 35.00     35.00
max                      53.00                125.00    125.00

In [5]:
# character limit for SQL

object_cols = df.select_dtypes(include='object')

# Find value with max length in each column
max_length_values = {
    col: object_cols[col].loc[object_cols[col].str.len().idxmax()]
    for col in object_cols.columns
}

# Display results
for col, val in max_length_values.items():
    print(f"Column: {col}\nLength: {len(val)}\nValue: {val}\n{'-'*70}")

Column: product_id
Length: 18
Value: STRMRT_PRD_01_0001
----------------------------------------------------------------------
Column: store_id
Length: 13
Value: STRMRT_STR_01
----------------------------------------------------------------------
Column: last_restock_date
Length: 10
Value: 2024-01-01
----------------------------------------------------------------------