In [1]:
%cd C:/Users/shrav/Data_Analysis_Projects/Big Projects/Project StarMart/Datasets

C:\Users\shrav\Data_Analysis_Projects\Big Projects\Project StarMart\Datasets

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Customers 
df = pd.read_csv("StarMart_Vendors.csv")
df.head()

,vendor_id,vendor_name,delivery_fee,product_id,per_item_cost,vendor_unique_id
0,STRMRT_VNDR_BRD_1,Thomas-Wilkinson,90,STRMRT_PRD_01_0001,3.25,STRMRT_VNDR_1
1,STRMRT_VNDR_BRD_1,Thomas-Wilkinson,90,STRMRT_PRD_01_0002,5.12,STRMRT_VNDR_2
2,STRMRT_VNDR_BRD_1,Thomas-Wilkinson,90,STRMRT_PRD_01_0003,4.39,STRMRT_VNDR_3
3,STRMRT_VNDR_BRD_1,Thomas-Wilkinson,90,STRMRT_PRD_01_0004,3.96,STRMRT_VNDR_4
4,STRMRT_VNDR_BRD_1,Thomas-Wilkinson,90,STRMRT_PRD_01_0005,3.55,STRMRT_VNDR_5

In [4]:
df.describe().round(2)

       delivery_fee  per_item_cost
count     343103.00      343103.00
mean          74.90          10.76
std           16.79          12.61
min           50.00           0.44
25%           60.00           4.24
50%           70.00           6.76
75%           90.00          11.45
max          100.00         125.87

In [5]:
df.describe(include='object')

,vendor_id,vendor_name,product_id,vendor_unique_id
count,343103,343103,343103,343103
unique,345,345,87518,343103
top,STRMRT_VNDR_BRD_1,Thomas-Wilkinson,STRMRT_PRD_01_0001,STRMRT_VNDR_1
freq,2478,2478,5,1

In [6]:
# character limit for SQL

object_cols = df.select_dtypes(include='object')

# Find value with max length in each column
max_length_values = {
    col: object_cols[col].loc[object_cols[col].str.len().idxmax()]
    for col in object_cols.columns
}

# Display results
for col, val in max_length_values.items():
    print(f"Column: {col}\nLength: {len(val)}\nValue: {val}\n{'-'*70}")

Column: vendor_id
Length: 21
Value: STRMRT_VNDR_SPRT2_100
----------------------------------------------------------------------
Column: vendor_name
Length: 33
Value: Rodriguez, Hernandez and Gonzalez
----------------------------------------------------------------------
Column: product_id
Length: 18
Value: STRMRT_PRD_01_0001
----------------------------------------------------------------------
Column: vendor_unique_id
Length: 18
Value: STRMRT_VNDR_100000
----------------------------------------------------------------------